

 <button (click)="addNewFootballer()" class="addFootballer">Add new user</button>
<div>
    <table>
    <tbody>
      <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Image</th>
        <th>Edit</th>
      </tr>
      
      <tr *ngFor="let footballer of footballers">
        <th>{{footballer.footballerID}} </th>
        <th>{{footballer.firstName}}</th>
        <th>{{footballer.lastName}}</th>
        <th><img src={{footballer.imgPath}} /> </th>
        <th> 
          <button (click)="deleteFootballer(footballer.footballerID)" class="delete" >Delete</button>
          <button (click)="updateFootballer(footballer.footballerID)" class="edit" >Edit</button>
          <button (click)="moreFootballer(footballer.footballerID)" class="more" >More</button></th>
        </tr>
  
    </tbody>
  </table>
  
 
  
  </div>